
<mat-grid-list cols="3">

    <mat-grid-tile>
        <mat-card class="example-card">

            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Servicio técnico</mat-card-title>
            </mat-card-header>
            
            <img mat-card-image src="https://i.imgur.com/4DQtQon.png">
           
            <mat-card-content>
              <p>
                Servicio técnico especializado, para poder resolver cualquier tipo de consulta antes de traernos tu dispositivo o articulos que quieras reparar con nosotros
              </p>
            </mat-card-content>

          </mat-card>
    </mat-grid-tile>


    <mat-grid-tile>
        <mat-card class="example-card">

            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Compra venta</mat-card-title>
            </mat-card-header>
            
            <img mat-card-image src="https://i.imgur.com/lVYWhNF.png">
           
            <mat-card-content>
              <p>
                Servicio técnico especializado, para poder resolver cualquier tipo de consulta antes de traernos tu dispositivo o articulos que quieras reparar con nosotros
              </p>
            </mat-card-content>

          </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="example-card">

            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Sistema de permutas</mat-card-title>
            </mat-card-header>
            
            <img mat-card-image src="https://i.imgur.com/tJopjA1.png">
           
            <mat-card-content>
              <p>
                Servicio técnico especializado, para poder resolver cualquier tipo de consulta antes de traernos tu dispositivo o articulos que quieras reparar con nosotros
              </p>
            </mat-card-content>

          </mat-card>
    </mat-grid-tile>

  </mat-grid-list>







