/* .example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://www.seekpng.com/png/full/251-2518363_tech-support-png-servicio-post-venta-png.png');
    background-size: cover;
  }

  mat-grid-tile {
    background: lightblue;
  }

  div.nuestrosServicios{   
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0 0 15px black;
} */
*{
  margin: 0;
  padding: 0;
}
.nuestrosServicios{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px 0 50px;
  text-align: center;
}

mat-card{
  margin-bottom: 20px;
  width: 300px;
}