<app-form-pago-reparacion [reparacion]="reparacion" *ngIf="mostrarFormDePagoReparacion" (cancelarEvent)="mostrarFormDePagoReparacion=false"></app-form-pago-reparacion>
<div *ngIf="listaDeReparaciones && listaDeReparaciones.length != 0" style="text-align: center;">
    <table mat-table [dataSource]="this.listaDeReparaciones" class="mat-elevation-z8">

        <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef> Fecha </th>
            <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
        </ng-container>

        <ng-container matColumnDef="marca">
            <th mat-header-cell *matHeaderCellDef> Marca y Modelo </th>
            <td mat-cell *matCellDef="let element"> {{element.marcaYModelo}} </td>
        </ng-container>

        <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let element">
                <img *ngIf="element.estado == 'enProceso'" src="../../../assets/images/phone-repair.png" alt="En proceso!">
                <img *ngIf="element.estado == 'sinSolucion'" src="../../../assets/images/phone-broken.png" alt="Sin Solucion :(">
                <img *ngIf="element.estado == 'reparado'" src="../../../assets/images/phone-ok.png" alt="Reparado!">
                <img *ngIf="element.estado == 'cancelado'" src="../../../assets/images/wrong.png" alt="Cancelado!">           
            </td>
        </ng-container>

        <ng-container matColumnDef="accion">
            <th mat-header-cell *matHeaderCellDef> Accion </th>
            <td mat-cell *matCellDef="let element" justify="end">
                <div *ngIf="element.estado != 'sinSolucion' && element.estado != 'cancelado'" class="button-row">
                    <button mat-button color="primary" (click)="pagar(element)" [disabled]="element.estado != 'reparado'">
                        <mat-icon>euro_symbol</mat-icon> Pagar
                    </button>
                    <button mat-button color="warn" (click)="cancelar(element, 'cancelado')" [disabled]="element.estado != 'enProceso'">
                        <mat-icon>highlight_off</mat-icon>Cancelar
                    </button>
                </div>
                <div *ngIf="element.estado == 'cancelado' || element.estado == 'sinSolucion'"> 
                    <p> ¡Lo lamentamos! Debe venir a retirarlo.</p>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<div *ngIf="!listaDeReparaciones || listaDeReparaciones.length == 0" style="text-align: center;">No tiene ninguna reparacion</div>