<!-- <app-resenia-usuario></app-resenia-usuario> -->

<div class="tiendaContainer" style="width: 100%; overflow: hidden; background-color: lightgray;">
  <div class="divCambioDeVista">
    <mat-icon (click)="cambiarModoVista('iconViewList')" id="iconViewList" class="clickeable">view_list</mat-icon>
    <mat-icon (click)="cambiarModoVista('iconViewCards')" id="iconViewCards" class="clickeable">border_all</mat-icon>
  </div>

  <app-spinner *ngIf="mostrarSpinner"></app-spinner>

  <mat-toolbar style="width: 100%; overflow: hidden; background-color: rgba(71, 16, 160, 0.705);">
    <span class="divLogo" (click)="irAHome()">
      <mat-icon><img src="../../../assets/images/pc5e5enyi.png" alt="logo-Multitask"></mat-icon>
      <label> Multitask </label>
    </span>

    <!-- Inicio buscador -->
    <div class="input-group inputSearch displayNoneInPhone" [formGroup]="inputSearch">
      <input type="text" class="form-control" formControlName="textoABuscar" (keyup.enter)="buscarCoincidencias()"
        placeholder="Escribe lo que quieras buscar.">
      <div class="input-group-append">
        <span class="input-group-text" id="basic-addon2">
          <span class="material-icons" style="padding: 0 10px;">
            search
          </span>
        </span>
      </div>
    </div>
    <!-- Fin buscador -->

    <!-- incio avatar usuario -->
    <a (click)="toggleDesplegarMenu()" class="divAvatarUsuario">
      <div class="divPerfilUsuario" *ngIf="user">
        <p class="pNombreUsuario">{{user.nombre}}</p>
        <img class="imgFotoDePerfil" src="{{user.foto}}" alt="Foto de perfil">
      </div>
      <div class="divMenuOptions" *ngIf="desplegarMenu">
        <a [routerLink]="['/usuario']">Panel</a>
        <a [routerLink]="['/favoritos']">Mis favoritos </a>
        <a [routerLink]="['/carrito']">Mi carrito </a>
        <a (click)="cerrarCesion()">Salir</a>
      </div>
    </a>
    <!-- FIN incio avatar usuario -->

    <button mat-flat-button *ngIf="!user" [routerLink]="['/home']" style="position: absolute;
  right: 10px;">Login</button>

    
  </mat-toolbar>

  <div class="input-group inputSearch displayInPhone" [formGroup]="inputSearch">
    <input type="text" class="form-control" formControlName="textoABuscar" (keyup.enter)="buscarCoincidencias()"
      placeholder="Escribe lo que quieras buscar.">
    <div class="input-group-append">
      <span class="input-group-text" id="basic-addon2">
        <span class="material-icons">
          search
        </span>
      </span>
    </div>
  </div>

  <app-seleccionar-mis-articulos *ngIf="mostrarMiListaDeproductos" [publicacionObjetivo]="publicacionObjetivo"
    (cancelarEvent)="mostrarMiListaDeproductos=false"></app-seleccionar-mis-articulos>
  <div *ngIf="user" class="divCardsContainer">

    <!-- CARDS -->
    <div *ngFor="let publicacion of listadoDePublicacionesAMostrar">
      <app-product-to-sell-card *ngIf="modoCards" [publicacion]="publicacion"
        (comprarClickEvent)="mostrarFormDePago($event)" (permutarClickEvent)="mostrarListaDeProductos($event)">
      </app-product-to-sell-card>

      <app-product-to-sell-row *ngIf="!modoCards" [publicacion]="publicacion"
        (comprarClickEvent)="mostrarFormDePago($event)" (permutarClickEvent)="mostrarListaDeProductos($event)">
      </app-product-to-sell-row>
    </div>
    <!-- ROWS -->


    <mat-icon class="botonFlotante" title="Publicar articulo" [routerLink]="['/testeo3']">add_to_queue</mat-icon>
  </div>

</div>