* {
  margin: 0;
  padding: 0;
}
.divCambioDeVista {
  position: absolute;
  right: 5%;
  top: 14%;
  cursor: pointer;
}
.divLogo,
.divLogo * {
  cursor: pointer;
}
.divLogo mat-icon {
  position: absolute;
  transform: translate(58px, -4px);
}
.divLogo mat-icon img {
  width: 35px;
  opacity: 70%;
  transform: rotate(19deg);
}
.divLogo label {
  color: white;
}
.clickeable:active {
  transform: scale(0.9);
}
#iconViewCards {
  color: blue;
}

mat-toolbar {
  box-shadow: 0 0 10px 0 #5a5a5a;
  height: 64px !important;
  margin-bottom: 20px;
}
.botonFlotante:hover {
  box-shadow: 0 0 10px 2px #727272;
  transition: 0.5s;
  /* background-color: lightpink; */
}
.botonFlotante:active {
  transform: scale(0.95);
}
.divMenuOptions a:hover {
  background-color: rgba(128, 128, 128, 0.644);
}
.divMenuOptions a:hover:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.divMenuOptions a {
  font-size: 14px;
  text-decoration: none;
  color: #007bff;
  background-color: transparent;
  width: 100%;
  display: block;
  text-align: center;
  padding: 3px auto;
  width: 100%;
}
.divMenuOptions {
  position: absolute;
  right: 0;
  top: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 2;
  background-color: rgb(245 245 245);
  padding: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.botonFlotante {
  cursor: pointer;
  position: fixed;
  border: none;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  box-shadow: 0 0 10px 0 #909090;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 32px;
  color: white;
  background-color: #047eff;
  bottom: 21px;
  right: 23px;
}
.divAvatarUsuario {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divCardsContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 14vh;
  flex-wrap: wrap;
}

/* DE ACÃ EN ADELANTE, CSS DE JONY*/

.inputSearch {
  position: absolute;
  width: 60vw;
  left: 20vw;
}

.imgFotoDePerfil {
  width: 40px;
}
.divPerfilUsuario > p {
  margin-right: 5px;
  display: inline;
}
.divPerfilUsuario {
  position: absolute;
  right: 10px;
}

.displayNoneInPhone {
  display: flex;
}
.displayInPhone {
  display: none;
}

@media (max-width: 750px) {
  .displayNoneInPhone {
    display: none;
  }
  .displayInPhone {
    margin: 5px 0 5px;
    width: 90%;
    left: 5%;
    display: flex;
  }
}
/* intento de animacion 'reparacion de celulares' 

#intentoAnimacion {
  min-width: 100px;
  min-height: 100px;
}
#intentoAnimacion::after {
  animation-name: animacion;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  content: "";
}
.listProducts {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

@media (max-width: 750px) {
  .pNombreUsuario {
    display: none !important;
  }
}
@media (max-width: 500px) {
  .mobileNotVisible {
    display: none;
  }
  .inputSearch {
    width: 70vw;
    left: 15vw;
  }
}

@keyframes animacion {
  from {
  }
  0% {
    content: "R";
  }
  3% {
    content: "Re";
  }
  6% {
    content: "Rep";
  }
  9% {
    content: "Repa";
  }
  12% {
    content: "Repar";
  }
  15% {
    content: "Repara";
  }
  18% {
    content: "Reparac";
  }
  21% {
    content: "Reparaci";
  }
  24% {
    content: "Reparacion";
  }
  27% {
    content: "Reparacion";
  }
  30% {
    content: "Reparacion d";
  }
  33% {
    content: "Reparacion de";
  }
  36% {
    content: "Reparacion de c";
  }
  39% {
    content: "Reparacion de ce";
  }
  42% {
    content: "Reparacion de cel";
  }
  45% {
    content: "Reparacion de celu";
  }
  48% {
    content: "Reparacion de celul";
  }
  51% {
    content: "Reparacion de celula";
  }
  54% {
    content: "Reparacion de celular";
  }
  57% {
    content: "Reparacion de celulare";
  }
  60% {
    content: "Reparacion de celulares";
  }
  63% {
    content: "Reparacion de celulares e";
  }
  66% {
    content: "Reparacion de celulares en";
  }
  69% {
    content: "Reparacion de celulares en e";
  }
  72% {
    content: "Reparacion de celulares en el";
  }
  75% {
    content: "Reparacion de celulares en el a";
  }
  78% {
    content: "Reparacion de celulares en el ac";
  }
  81% {
    content: "Reparacion de celulares en el act";
  }
  84% {
    content: "Reparacion de celulares en el acto";
  }
  87% {
    content: "Reparacion de celulares en el acto.";
  }
  90% {
    /* content: "Reparacion de celulares en el acto"; 
  }
  90% {
    /* content: "Reparacion de celulares en el acto"; 
  }
  93% {
    /* content: "Reparacion de celulares en el acto"; 
  }
  96% {
    /* content: "Reparacion de celulares en el acto"; 
  }
  99% {
    /* content: "Reparacion de celulares en el acto"; 
  }
}
 */
