<mat-toolbar>
  <span class="material-icons"> store </span>
  <span class="mobileNotVisible">Tienda</span>
  <!-- Inicio buscador -->
  <div class="input-group inputSearch displayNoneInPhone" [formGroup]="inputSearch">
    <input type="text" class="form-control" formControlName="textoABuscar" (keyup.enter)="buscarCoincidencias()"
      placeholder="Escribe lo que quieras buscar.">
    <div class="input-group-append">
      <span class="input-group-text" id="basic-addon2">
        <span class="material-icons">
          search
        </span>
      </span>
    </div>
  </div>
  <!-- Fin buscador -->

  <button class="btn btn-primary"
    (click)="mostrarFormularioPublicar=!mostrarFormularioPublicar">Publicar</button>
    <!-- hy que acomodarlo -->
  <!-- <app-form-alta-producto *ngIf="mostrarFormularioPublicar"></app-form-alta-producto> -->

  <a href="/usuario" class="divAvatarUsuario">
    <div class="divPerfilUsuario" *ngIf="user">
      <p class="pNombreUsuario">{{user.nombre}}</p>
      <img class="imgFotoDePerfil" src="{{user.foto}}" alt="Foto de perfil">
    </div>
  </a>
</mat-toolbar>

<div class="input-group inputSearch displayInPhone" [formGroup]="inputSearch">
  <input type="text" class="form-control" formControlName="textoABuscar" (keyup.enter)="buscarCoincidencias()"
    placeholder="Escribe lo que quieras buscar.">
  <div class="input-group-append">
    <span class="input-group-text" id="basic-addon2">
      <span class="material-icons">
        search
      </span>
    </span>
  </div>
</div>

<app-carousel></app-carousel>




<app-seleccionar-mis-articulos *ngIf="mostrarMiListaDeproductos" [publicacionObjetivo]="publicacionObjetivo" (cancelarEvent)="mostrarMiListaDeproductos=false"></app-seleccionar-mis-articulos>
<div class="divCardsContainer">

  <div *ngFor="let publicacion of listadoDePublicacionesAMostrar">
    <app-product-to-sell-card [publicacion]="publicacion" (comprarClickEvent)="mostrarFormDePago($event)" (permutarClickEvent)="mostrarListaDeProductos($event)"></app-product-to-sell-card>
  </div>

</div>