<div class="formularioDePagoContainer">
  <!-- CREDIT CARD -->
    <div>
        <app-credit-card [datosTarjeta]="datosTarjetaTest" [esDorso]="esDorso"></app-credit-card>
    </div>
    <!-- FIN CREDIT CARD -->
    <!-- FORMULARIO CUOTAS -->
    <div *ngIf="mostrarFormularioCuotas">
        <div class="formularioDeCuotas">
            <select name="cuotas" id="cuotas" (change)="calcularCuotas()">
                <option value="1">1 cuotas</option>
                <option value="3">3 cuotas <label style="font-size:12px; color: green;">(sin interes)</label></option>
                <option value="6">6 cuotas </option>
                <option value="12">12 cuotas</option>
                <option value="18">18 cuotas</option>
            </select>
        </div>
        <h2>{{compra.precioEnCuotas|currency}}</h2>
        <p *ngIf=" this.compra.cantidadDeCuotas && this.compra.cantidadDeCuotas>1">
            {{compra.cantidadDeCuotas}} Cuotas de:
            {{compra.precioEnCuotas/compra.cantidadDeCuotas|currency}}</p>
    </div>
  <!-- FIN FORMULARIO CUOTAS -->
    <div style="width: 100%; text-align: center;">
        <h2>Ingrese los datos de su tarjeta</h2>
        <label *ngIf="yoQuiero" style="color: red; font-size: 12px;"> Por el momento no operamos con esta tarjeta.
        </label>
    </div>
    <div class="divFormulario">
        <form [formGroup]="testGroupTarjetaForm">

            <div style="display: block;">

                <mat-form-field>
                    <mat-label>Numero de tarjeta</mat-label>

                    <input matInput (focus)="esDorso=false" (keyup)="onChangeNumTarjeta($event)"
                        [textMask]="{mask: creditNumberMask}" placeholder="0000-0000-0000-0000"
                        formControlName="numeroValidado">

                    <mat-error *ngIf="testGroupTarjetaForm.controls.numeroValidado.invalid">
                        {{mostrarErrorRegistro('numeroValidado')}}</mat-error>


                    <!--  -->
                </mat-form-field>


                <mat-form-field>
                    <mat-label>Nombre</mat-label>

                    <input matInput (focus)="esDorso=false" (keyup)="onChangeNombre($event)" placeholder="Nombre"
                        formControlName="nombreValidado">

                    <mat-error *ngIf="testGroupTarjetaForm.controls.nombreValidado.invalid">
                        {{mostrarErrorRegistro('nombreValidado')}}</mat-error>
                </mat-form-field>


                <mat-form-field>
                    <mat-label>Apellido</mat-label>

                    <input matInput (focus)="esDorso=false" (keyup)="onChangeApelldio($event)" placeholder="Apellido"
                        formControlName="apellidoValidado">

                    <mat-error *ngIf="testGroupTarjetaForm.controls.apellidoValidado.invalid">
                        {{mostrarErrorRegistro('apellidoValidado')}}</mat-error>
                </mat-form-field>


                <mat-form-field>
                    <mat-label>Fecha expiracion</mat-label>

                    <input matInput (focus)="esDorso=false" (keyup)="onChangeFechaVto($event)"
                        [textMask]="{mask: dateMask}" placeholder="00/00" formControlName="fechaValidada">

                    <mat-error *ngIf="testGroupTarjetaForm.controls.fechaValidada.invalid">
                        {{mostrarErrorRegistro('fechaValidada')}}</mat-error>
                </mat-form-field>


                <mat-form-field>
                    <mat-label>PIN</mat-label>

                    <input matInput (focus)="esDorso=true" (keyup)="onChangePin($event)" [textMask]="{mask: pinMask}"
                        placeholder="000" formControlName="pinValidado">

                    <mat-error *ngIf="testGroupTarjetaForm.controls.pinValidado.invalid">
                        {{mostrarErrorRegistro('pinValidado')}}
                    </mat-error>
                </mat-form-field>

            </div>

            <!-- [mat-dialog-close]="datosTarjetaTest" -->
            <div class="btnContainer">
                <button *ngIf="step==1" [disabled]="!testGroupTarjetaForm.valid" type="submit" mat-raised-button
                    color="primary" class="btnLogin" (click)="procesarInformacionDePago()"
                    >Continuar</button>
                <button *ngIf="step==2" [disabled]="!testGroupTarjetaForm.valid" type="submit" mat-raised-button
                    color="primary" class="btnLogin" (click)="mostrarDialog()">Procesar pago</button>
            </div>
        </form>
    </div>
    <!-- FORM DE CONFIRMACION DE LA COMRA -->
    <div class="dialogContainer" *ngIf="mostrarDialogConfirmacion" (click)="mostrarDialogConfirmacion=false">
        <div class="confirmDialog" (click)="detenerPropagacion($event)">
            <h2>Confirmar compra</h2>
            <ol>
                <li *ngIf="compra.tipoSaldo=='Debito'">Monto total: {{publicacionObjetivo.precio|currency}}</li>
                <li *ngIf="compra.tipoSaldo=='Debito'">Debera pagar {{publicacionObjetivo.precio|currency}} en un solo
                    pago.</li>
                <li *ngIf="compra.tipoSaldo=='Credito'">Monto total: {{compra.precioEnCuotas|currency}}</li>
                <li *ngIf="compra.tipoSaldo=='Credito'">En {{compra.cantidadDeCuotas}} cuotas de:
                    {{compra.precioPorCuota|currency}}</li>
            </ol>
            <div class="divActionButtons">

                <button mat-raised-button color="primary" (click)="efectuarCompra()">Confirmar</button>
                <button mat-stroked-button color="warn" (click)="mostrarDialogConfirmacion=false"> Cancelar</button>
            </div>
        </div>
    </div>
</div>