<app-formulario-de-pago [datosTarjeta]="datosTarjetaTest" [esDorso]="esDorso"> </app-formulario-de-pago>
<form [formGroup]="testGroupTarjetaForm">

    <div style="display: block;">

        <mat-form-field appearance="fill">
            <mat-label>Numero de tarjeta</mat-label>

            <input matInput (focus)="esDorso=false" (keyup)="onChangeNumTarjeta($event)" 
            [textMask]="{mask: creditNumberMask}" placeholder="0000-0000-0000-0000" formControlName="numeroValidado">

            <mat-error *ngIf="testGroupTarjetaForm.controls.numeroValidado.invalid">{{mostrarErrorRegistro('numeroValidado')}}</mat-error>
        </mat-form-field>


        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>

            <input matInput (focus)="esDorso=false" (keyup)="onChangeNombre($event)" 
            placeholder="Nombre" formControlName="nombreValidado">

            <mat-error *ngIf="testGroupTarjetaForm.controls.nombreValidado.invalid">{{mostrarErrorRegistro('nombreValidado')}}</mat-error>
        </mat-form-field>


        <mat-form-field appearance="fill">
            <mat-label>Apellido</mat-label>

            <input matInput (focus)="esDorso=false" (keyup)="onChangeApelldio($event)" 
            placeholder="Apellido" formControlName="apellidoValidado">

            <mat-error *ngIf="testGroupTarjetaForm.controls.apellidoValidado.invalid">{{mostrarErrorRegistro('apellidoValidado')}}</mat-error>
        </mat-form-field>


        <mat-form-field appearance="fill">
            <mat-label>Fecha expiracion</mat-label>

            <input matInput (focus)="esDorso=false" (keyup)="onChangeFechaVto($event)" 
            [textMask]="{mask: dateMask}" placeholder="00/00" formControlName="fechaValidada">

            <mat-error *ngIf="testGroupTarjetaForm.controls.fechaValidada.invalid">{{mostrarErrorRegistro('fechaValidada')}}</mat-error>
        </mat-form-field>


        <mat-form-field appearance="fill">
            <mat-label>PIN</mat-label>

            <input matInput (focus)="esDorso=true" (keyup)="onChangePin($event)"
            [textMask]="{mask: pinMask}" placeholder="000" formControlName="pinValidado">

            <mat-error *ngIf="testGroupTarjetaForm.controls.pinValidado.invalid">{{mostrarErrorRegistro('pinValidado')}}</mat-error>
        </mat-form-field>

    </div>


    <div class="btnContainer">
        <button [disabled]="!testGroupTarjetaForm.valid" type="submit" mat-raised-button color="primary" class="btnLogin">Aceptar (no hago nada, estoy aca de pinta)</button>
    </div>


</form>








<!-- <input pattern="[0-9]{4}[ ][0-9]{4}[ ][0-9]{4}[ ][0-9]{4}[" > -->

<!-- <app-spinner *ngIf="mostrarSpinner"></app-spinner> -->
<!-- <mat-vertical-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="numeroTarjetaFormGroup">
        <form [formGroup]="numeroTarjetaFormGroup">
            <ng-template matStepLabel>Ingrese el titulo de la publicacion</ng-template>
            <mat-form-field>
                <mat-label>Titulo</mat-label>
                <input matInput placeholder="1234 1234 1234 1234" formControlName="numeroTarjeta" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>
   

    <mat-step>
        <ng-template matStepLabel>Finalizar</ng-template>
        <p>Finalizaste la publicacion.</p>
        <div>
            <button mat-button (click)="stepper.reset()">Empezar de nuevo</button>
            <button mat-button matStepperPrevious>Volver</button>
            <button mat-stroked-button color="accent" >Publicar</button>
        </div>
    </mat-step>
</mat-vertical-stepper> -->






<!-- <app-header [userIsLogged]="userIsLogged" (ingresarEventClick)="mostrarFormLogin=true"></app-header>
<app-login *ngIf="mostrarFormLogin" id="login" (ingresarEventClick)="userIsLogged=true"
    (ingresarEventClick)="mostrarFormLogin=false" (cancelLoginEventClick)="mostrarFormLogin=false"></app-login>
<app-carousel></app-carousel>
<app-nuestros-servicios id="appServicios"></app-nuestros-servicios>

<app-story-wrap (ingresarEventClick)="mostrarFormLogin=true" id="appHistoryWrapper"></app-story-wrap>

<app-realizar-consulta-anonima id="appConsultaAnonima"> </app-realizar-consulta-anonima>

<footer>
    <small>All content &copy; Multitask. All rights reserved.</small>
    Contacto: +15 12345678 - Mailejempo@gmail.com - Direccion 573
</footer> -->