<app-header [userIsLogged]="userIsLogged" (ingresarEventClick)="mostrarFormLogin=true"></app-header>
<!-- <app-spinner></app-spinner> -->
<app-login  *ngIf="mostrarFormLogin" id="login" (ingresarEventClick)="userIsLogged=true" (ingresarEventClick)="mostrarFormLogin=false" (cancelLoginEventClick)="mostrarFormLogin=false"></app-login>
<!-- <app-form-alta-producto></app-form-alta-producto> -->
<app-carousel></app-carousel>
<!-- <app-horario-de-apertura></app-horario-de-apertura> -->
<app-nuestros-servicios id="appServicios"></app-nuestros-servicios>

<app-story-wrap id="appHistoryWrapper"></app-story-wrap>

<!-- <app-maps></app-maps>-->

<app-realizar-consulta-anonima id="appConsultaAnonima"> </app-realizar-consulta-anonima>

