.spinnerContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  z-index: 20;
  background-color: rgba(39, 39, 39, 0.568);
}
.marcoTelefono {
  width: 130px;
  height: 250px;
  border-radius: 10px;
  border: 8px solid black;
  
  animation-name: vibrar;
  animation-duration: 5s;
}
.marcoTelefono::before {
  background-image: url(../../../assets/images/back1.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  content: "";
  animation-name: cambioDeFondo;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
.marcoTelefono::after {
  position: absolute;
  content: "";
  transform: translate(54px, -225px);
  width: 8px;
  height: 8px;
  background-color: rgb(56, 56, 56);
  border: 2px solid black;
  border-radius: 100%;
}
@keyframes vibrar{
    from{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(20deg);

    }
    50%{
        transform: rotate(-20deg);

    }
    to{
        transform: rotate(-0deg);

    }
}
@keyframes cambioDeFondo {
  from {
    background-image: url(../../../assets/images/back1.jpg);
  }
  25% {
    background-image: url(../../../assets/images/back2.jpg);
  }
  50% {
    background-image: url(../../../assets/images/back3.jpg);
  }
  75% {
    background-image: url(../../../assets/images/back4.jpg);
  }
}
