<div *ngIf="listaDeReparaciones && listaDeReparaciones.length != 0" style="text-align: center;">
    <table mat-table [dataSource]="this.listaDeReparaciones" class="mat-elevation-z8">

        <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef> Fecha </th>
            <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
        </ng-container>

        <ng-container matColumnDef="correo">
            <th mat-header-cell *matHeaderCellDef> Cliente Contacto </th>
            <td mat-cell *matCellDef="let element"> {{element.correo}} ({{element.nombre}})</td>
        </ng-container>

        <ng-container matColumnDef="marca">
            <th mat-header-cell *matHeaderCellDef> Marca y Modelo </th>
            <td mat-cell *matCellDef="let element"> {{element.marcaYModelo}} </td>
        </ng-container>

        <ng-container matColumnDef="observaciones">
            <th mat-header-cell *matHeaderCellDef> Observaciones </th>
            <td mat-cell *matCellDef="let element"> {{element.observaciones}} </td>
        </ng-container>

        <ng-container matColumnDef="accion">
            <th mat-header-cell *matHeaderCellDef> Accion </th>
            <td mat-cell *matCellDef="let element" justify="end">
                <div class="example-button-row">
                    <button mat-raised-button color="primary" (click)="cambiarEstado(element, 'reparado')">
                        Reparado
                    </button>
                    <button mat-raised-button color="warn" (click)="cambiarEstado(element, 'sinSolucion')">
                        Sin Solucion
                    </button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>