<div class="divContainerFormPago">
    <app-spinner *ngIf="mostrarSpinner"></app-spinner>
    <div class="formularioDePagoContainer">
        <!-- CREDIT CARD -->
        <div>
            <app-credit-card [datosTarjeta]="datosTarjetaTest" [esDorso]="esDorso"></app-credit-card>
        </div>
        <!-- FIN CREDIT CARD -->
        <!-- FORMULARIO CUOTAS -->
        <div *ngIf="mostrarFormularioCuotas">
            <div class="formularioDeCuotas">
                <select name="cuotas" id="cuotas" (change)="calcularCuotas()">
                    <option value="1">1 cuotas</option>
                    <option value="3">3 cuotas <label style="font-size:12px; color: green;">(sin interes)</label>
                    </option>
                    <option value="6">6 cuotas </option>
                    <option value="12">12 cuotas</option>
                    <option value="18">18 cuotas</option>
                </select>
            </div>
            <h2>{{pago.precioEnCuotas|currency}}</h2>
            <p *ngIf=" this.pago.cantidadDeCuotas && this.pago.cantidadDeCuotas>1">
                {{pago.cantidadDeCuotas}} Cuotas de:
                {{pago.precioEnCuotas/pago.cantidadDeCuotas|currency}}</p>
        </div>
        <!-- FIN FORMULARIO CUOTAS -->
        <div style="width: 100%; text-align: center;">
            <h2>Ingrese los datos de su tarjeta</h2>
            <label *ngIf="yoQuiero" style="color: red; font-size: 12px;"> Por el momento no operamos con esta tarjeta.
            </label>
        </div>
        <div class="divFormulario">
            <form [formGroup]="groupTarjetaForm">

                <div style="display: block;">

                    <mat-form-field>
                        <mat-label>Numero de tarjeta</mat-label>

                        <input matInput (focus)="esDorso=false" (keyup)="onChangeNumTarjeta($event)"
                            [textMask]="{mask: creditNumberMask}" placeholder="0000-0000-0000-0000"
                            formControlName="numeroValidado">

                        <mat-error *ngIf="groupTarjetaForm.controls.numeroValidado.invalid">
                            mostrarErrorRegistro('numeroValidado')</mat-error>


                        <!--  -->
                    </mat-form-field>


                    <mat-form-field>
                        <mat-label>Nombre</mat-label>

                        <input matInput (focus)="esDorso=false" (keyup)="onChangeNombre($event)" placeholder="Nombre"
                            formControlName="nombreValidado">

                        <mat-error *ngIf="groupTarjetaForm.controls.nombreValidado.invalid">
                            mostrarErrorRegistro('nombreValidado')</mat-error>
                    </mat-form-field>


                    <mat-form-field>
                        <mat-label>Apellido</mat-label>

                        <input matInput (focus)="esDorso=false" (keyup)="onChangeApelldio($event)"
                            placeholder="Apellido" formControlName="apellidoValidado">

                        <mat-error *ngIf="groupTarjetaForm.controls.apellidoValidado.invalid">
                            mostrarErrorRegistro('apellidoValidado')</mat-error>
                    </mat-form-field>


                    <mat-form-field>
                        <mat-label>Fecha expiracion</mat-label>

                        <input matInput (focus)="esDorso=false" (keyup)="onChangeFechaVto($event)"
                            [textMask]="{mask: dateMask}" placeholder="00/00" formControlName="fechaValidada">

                        <mat-error *ngIf="groupTarjetaForm.controls.fechaValidada.invalid">
                            mostrarErrorRegistro('fechaValidada')</mat-error>
                    </mat-form-field>


                    <mat-form-field>
                        <mat-label>PIN</mat-label>

                        <input matInput (focus)="esDorso=true" (keyup)="onChangePin($event)"
                            [textMask]="{mask: pinMask}" placeholder="000" formControlName="pinValidado">

                        <mat-error *ngIf="groupTarjetaForm.controls.pinValidado.invalid">
                            mostrarErrorRegistro('pinValidado')
                        </mat-error>
                    </mat-form-field>

                </div>

                <!-- [mat-dialog-close]="datosTarjetaTest" -->
                <div class="btnContainer">
                    <button *ngIf="step==1" [disabled]="!groupTarjetaForm.valid" type="submit" mat-raised-button
                        color="primary" class="btnLogin" (click)="procesarInformacionDePago()">Continuar</button>
                    <button *ngIf="step==2" [disabled]="!groupTarjetaForm.valid" type="submit" mat-raised-button
                        color="primary" class="btnLogin" (click)="mostrarDialog()">Procesar pago</button>


                    <button type="button" mat-raised-button color="secondary" class="btnLogin" (click)="cancelar()">Cancelar</button>
                </div>
            </form>
        </div>
        <!-- FORM DE CONFIRMACION DE LA COMRA -->
        <div class="dialogContainer" *ngIf="mostrarDialogConfirmacion" (click)="mostrarDialogConfirmacion=false">
            <div class="confirmDialog" (click)="detenerPropagacion($event)">
                <h2>Confirmar pago</h2>
                <ol>
                    <li *ngIf="pago.tipoSaldo=='Debito'">Monto total: {{(reparacion.precio-reparacion.sena)|currency}}</li>
                    <li *ngIf="pago.tipoSaldo=='Debito'">Debera pagar {{(reparacion.precio-reparacion.sena)|currency}} en un solo
                        pago.</li>
                    <li *ngIf="pago.tipoSaldo=='Credito'">Monto total: {{pago.precioEnCuotas|currency}}</li>
                    <li *ngIf="pago.tipoSaldo=='Credito'">En {{pago.cantidadDeCuotas}} cuotas de:
                        {{pago.precioPorCuota|currency}}</li>
                </ol>
                <div class="divActionButtons">

                    <button mat-raised-button color="primary" (click)="efectuarPago()">Confirmar</button>
                    <button mat-stroked-button color="warn" (click)="mostrarDialogConfirmacion=false"> Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>