p{
    display: block;
    min-width: 51%;
}
.mensajes{    
    border-radius: 5px;
    padding: 8px;
}
.mensajesEnviados{
    float: left;
    background-color: lightgreen;
}
.mensajesRecibidos{
    float: right;
    background-color: lightgray;
}

.divContainer{
    max-width: 50vh;
    display: flex !important;
    flex-wrap: wrap;
    align-items: flex-end;
    background-image: url("../../../assets/images/whatsappBackground.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 30px 25px 30px;
    border-radius: 10px;
    min-height: 60vh;
}

.divHistorialMensajes{
    width: 100%;
}
.divInput
{
    width: 100%;

}

