*{
  margin: 0;
}
.divContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid lightblue;
  flex-wrap: wrap;
}
.divSeparador {
  text-align: center;
  margin:10px 0 10px 0;
}

img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.divImagenes {
  display: flex;
  justify-content: space-evenly;
}

.ocultar {
    display: none;
  }
.mostrar {
  display: inline;
}
button{
  margin-top: 20px;
  margin-bottom: 20px;
}
button:hover{
 background-color: rgba(255, 160, 122, 0.603);
}
button:active{
  transform: scale(0.97);
}
@media (max-width: 820px) {
    .divSeparador{
       width: 100%;
    }
  .ocultar {
    display: inline;
  }
  .mostrar {
    display: none;
  }
}
