mat-card {
  overflow: hidden;
  margin: 0;
  width: 300px;
  /* height: 450px; */
}

.favSvg{
  cursor:pointer;
  transform: translate(10px, 445px);
  z-index: 1;
  position: absolute;
  fill: red;
  stroke: var(--colorPrincipal);
}

.carrSvg{
  cursor:pointer;
  transform: translate(40px, 445px);
  z-index: 1;
  position: absolute;
  fill: red;
  stroke: var(--colorPrincipal);
  /* right: 1px; */
}

label {
  transform: translate(110px, 5px);
  z-index: 1;
  position: absolute;
  border-radius: 100%;
  padding: 0 5px 0 5px;
  font-size: 12px;
  box-shadow: inset 0 0px 5px #0000ffb8;
}
.divCard {
  box-shadow: 0 0 10px var(--colorPrincipal) !important;
  margin: 20px;
}
.sombraAzul {
  box-shadow: 0 0 2px var(--colorPrincipal);
}
.sombraVioleta {
  box-shadow: 0 0 10px #0000ffb8 !important;
  /* box-shadow: 0 0 2px rgb(134, 238, 130); */
}
mat-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
mat-card img {
  object-fit: contain;
  max-width: 90%;
  max-height: 330px;
  width: auto;
}
.divImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 330px;
}
.divDescripcionProducto {
  display: none;
}
.divButtonsProducto {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20px;
}

.visibility-hover {
  transition: 1s;
  visibility: hidden;
}
mat-card:hover .visibility-hover {
  visibility: visible;
}

.mostrar-hover {
  display: none;
}
.ocultar-hover {
  display: inline;
}
mat-card:hover .mostrar-hover {
  display: inline;
}
mat-card:hover .ocultar-hover {
  display: none;
}
hr {
  box-shadow: 0 0 2px var(--colorPrincipal);
}
#btnMostrarDetallado {
  float: right;
  justify-content: right;
  visibility: hidden;
  color: var(--colorPrincipal);
  cursor: pointer;
}
mat-card:hover #btnMostrarDetallado {
  visibility: visible;
}
