<mat-card class="divCard" *ngIf="publicacion.estadoPublicacion=='aceptado'">

  <ngb-carousel id="divCarousel" style="height: 70%;">
    <ng-template ngbSlide *ngFor="let foto of publicacion.fotos">
      <div class="divImgContainer">
        <img class="imagen" mat-card-image class="img" src="{{foto}}">
      </div>
    </ng-template>
  </ngb-carousel>
  <hr style="margin: 10px;">
  <mat-card-title>{{publicacion.precio| currency }}</mat-card-title>
  <mat-card-subtitle class="visibility-hover">{{publicacion.titulo}}</mat-card-subtitle>
  <span   id="btnMostrarDetallado" class="material-icons" (click)="openDialog(publicacion)"> launch </span>
</mat-card>