<div #divCarToSell class="divCard" *ngIf="publicacion.estadoPublicacion=='aceptado'">
  <label *ngIf="esMiPublicacion">Mio</label>
  <div *ngIf="!esMiPublicacion" class="favSvg" (click)="faviar(publicacion)">
    <svg #svgFav width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="0.5" stroke-linecap="round"
      stroke-linejoin="round" class="feather feather-heart">
      <path
        d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
      </path>
    </svg>
  </div>
  <div *ngIf="!esMiPublicacion" class="carrSvg" (click)="agregarCarro(publicacion)">    
      <svg viewbox="0 0 25 25" width="24" height="24">
        <line #carrSvg y1="6" x1="12.5" y2="19" x2="12.5" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" vector-effect="non-scaling-stroke" />
        <line x1="6" y1="12.5" x2="19" y2="12.5" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" vector-effect="non-scaling-stroke" />
      </svg>
  </div>
  <mat-card>
    <ngb-carousel id="divCarousel" style="height: 70%;">
      <ng-template ngbSlide *ngFor="let foto of publicacion.fotos">
        <div class="divImgContainer">
          <img class="imagen" mat-card-image class="img" src="{{foto}}">
        </div>
      </ng-template>
    </ngb-carousel>
    <hr style="margin: 10px;">
    <mat-card-title>{{publicacion.precio| currency }}</mat-card-title>
    <mat-card-subtitle class="visibility-hover">{{publicacion.titulo}}</mat-card-subtitle>
    <span id="btnMostrarDetallado" class="material-icons" (click)="openDialog(publicacion)"> launch </span>
  </mat-card>
</div>