<!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button> -->
  <h1>Formulario de reparacion</h1>
<mat-vertical-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Selecciona el tipo de equipo</ng-template>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="tablet">Tablet</mat-radio-button>
                <mat-radio-button value="celular">Celular</mat-radio-button>
                <mat-radio-button value="pc/notebook">Pc/Notebook</mat-radio-button>
            </mat-radio-group>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Selecciona el tipo de servicio</ng-template>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="reparacion">Reparacion</mat-radio-button>
                <mat-radio-button value="presupuesto">Presupuesto</mat-radio-button>
                <mat-radio-button value="activacion">Activacion</mat-radio-button>
                <mat-radio-button value="garantia">Garantia</mat-radio-button>
            </mat-radio-group>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-vertical-stepper>