<div class="divContainerDialog">
    <mat-dialog-content class="mat-typography">
        <div class="divHeadContainer">
            <div class="imgContainer">
                <img *ngFor="let foto of publicacion.fotos" src="{{foto}}" alt="foto ilustrativa del producto">
            </div>
            <div class="divDetallesProducto">
                <h1 mat-dialog-title>{{publicacion.titulo}} <p class="idPublicacion">id: {{publicacion.id}}</p>
                </h1>
                <p><b>Estado: </b>{{publicacion.estado}}</p>
                <p class="precio">{{publicacion.precio|currency}}</p>
                <div mat-dialog-actions>

                    <button *ngIf="esVistaCompleta" class="btnAcciones" mat-raised-button color="primary">Comprar ahora</button>
                    <button *ngIf="esVistaCompleta" class="btnAcciones" mat-stroked-button color="accent"  [mat-dialog-close]="'permutar'">Permutar</button>
                </div>
                
                <button *ngIf="!esVistaCompleta" class="btnAcciones" mat-raised-button color="primary" disabled >Comprar ahora</button>
                <button *ngIf="!esVistaCompleta" class="btnAcciones" mat-stroked-button color="accent" disabled >Permutar</button>

            </div>
        </div>
        <hr>
        <div class="descripcionContainer">
            <p>{{publicacion.descripcion}}</p>
        </div>
        <hr>
        <div class="garantiaContainer">
            <p *ngIf="publicacion.garantia=='conGarantia'">Garantia: SI <span class="material-icons"
                    style="color: green;"> done_all </span>
            </p>
            <p *ngIf="publicacion.garantia=='conGarantia'">Detalle de la garantia: {{publicacion.detalleGarantia}}</p>
            <p *ngIf="publicacion.garantia=='sinGarantia'">Garantia: NO <mat-icon style=" color: red; ">warning
                </mat-icon>
            </p>
        </div>

        
        
    </mat-dialog-content>
    <mat-dialog-actions align="end" *ngIf="!esVistaCompleta">
        <button mat-button [mat-dialog-close]="'rechazado'">Rechazar</button>
        <button mat-button [mat-dialog-close]="'aceptado'" cdkFocusInitial>Aceptar</button>
    </mat-dialog-actions>
</div>