<mat-horizontal-stepper linear #stepper>

    <mat-step [stepControl]="nombreGrupoValidador">
      <form [formGroup]="nombreGrupoValidador">

        <ng-template matStepLabel>Ingrese su nombre</ng-template>
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Nombre" formControlName="nombreValidado" [(ngModel)]="usuarioJSON.nombre" required >
          <mat-error *ngIf="nombreGrupoValidador.controls.nombreValidado.invalid">{{mostrarErrorRegistro('nombreValidado') }}</mat-error>
        </mat-form-field>
        
        <div>
          <button mat-button matStepperNext>Siguiente</button>
        </div>

      </form>
    </mat-step>

    

    <mat-step [stepControl]="apellidoGrupoValidador">
        <form [formGroup]="apellidoGrupoValidador">
  
          <ng-template matStepLabel>Ingrese su apellido</ng-template>
          <mat-form-field>
            <mat-label>Apellido</mat-label>
            <input matInput placeholder="Apellido" formControlName="apellidoValidado" [(ngModel)]="usuarioJSON.apellido" required>
            <mat-error *ngIf="apellidoGrupoValidador.controls.apellidoValidado.invalid">{{mostrarErrorRegistro('apellidoValidado') }}</mat-error>
          </mat-form-field>
          
          <div>
            <button mat-button matStepperNext>Siguiente</button>
          </div>
  
        </form>
    </mat-step>



    <mat-step [stepControl]="DNIGrupoValidador">
        <form [formGroup]="DNIGrupoValidador">
  
          <ng-template matStepLabel>Ingrese su DNI</ng-template>
          <mat-form-field>
            <mat-label>DNI</mat-label>
            <input matInput placeholder="Nombre" formControlName="DNIValidado" [(ngModel)]="usuarioJSON.DNI" required>
            <mat-error *ngIf="DNIGrupoValidador.controls.DNIValidado.invalid">{{mostrarErrorRegistro('DNIValidado') }}</mat-error>
          </mat-form-field>
          
          <div>
            <button mat-button matStepperNext>Siguiente</button>
          </div>
  
        </form>
    </mat-step>



    <mat-step [stepControl]="contactoGrupoValidador">
      <form [formGroup]="contactoGrupoValidador">

        <ng-template matStepLabel>Ingrese sus datos de contacto</ng-template>
        <mat-form-field>
          <mat-label>Correo</mat-label>
          <input matInput placeholder="Correo" formControlName="correoValidado" [(ngModel)]="usuarioJSON.correo" required>
          <mat-error *ngIf="contactoGrupoValidador.controls.correoValidado.invalid">{{mostrarErrorRegistro('correoValidado') }}</mat-error>
        </mat-form-field>


        <mat-form-field>
          <mat-label>Numero</mat-label>
          <input matInput placeholder="Numero" formControlName="numeroValidado" [(ngModel)]="usuarioJSON.numero" required>
          <mat-error *ngIf="contactoGrupoValidador.controls.numeroValidado.invalid">{{mostrarErrorRegistro('numeroValidado') }}</mat-error>
        </mat-form-field>
        
        <div>
          <button mat-button matStepperNext>Siguiente</button>
        </div>

      </form>
  </mat-step>



  <mat-step [stepControl]="contraseniaGrupoValidador">
    <form [formGroup]="contraseniaGrupoValidador">

      <ng-template matStepLabel>Ingrese su contraseña</ng-template>
      <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input matInput placeholder="Contraseña" formControlName="contraseniaValidada" [(ngModel)]="usuarioJSON.contrasenia" [type]="getOcultaClave() ? 'password' : 'text'" required>
        <mat-error *ngIf="contraseniaGrupoValidador.controls.contraseniaValidada.invalid">{{mostrarErrorRegistro('contraseniaValidada') }}</mat-error>
      </mat-form-field>


      <mat-form-field>
        <mat-label>Repetir contraseña</mat-label>
        <input matInput placeholder="Repetir contraseña" formControlName="contraseniaValidada" [(ngModel)]="usuarioJSON.repetirContrasenia" [type]="getOcultaClave() ? 'password' : 'text'" required>
        <mat-error *ngIf="contraseniaGrupoValidador.controls.contraseniaValidada.invalid">{{mostrarErrorRegistro('contraseniaValidada') }}</mat-error>
      </mat-form-field>
      
      <div>
        <button mat-button matStepperNext>Siguiente</button>
      </div>

    </form>
</mat-step>


<mat-step [stepControl]="fotoGrupoValidador">
  <form [formGroup]="fotoGrupoValidador">

    <ng-template matStepLabel>Ingrese su foto</ng-template>

      <input type="file" formControlName="fotoValidada" (change)="handleImage($event)" required style="text-align: center">
      <mat-error *ngIf="fotoGrupoValidador.controls.fotoValidada.invalid">{{mostrarErrorRegistro('fotoValidada') }}</mat-error>
    <div>
      <button mat-button matStepperNext>Siguiente</button>
    </div>

  </form>
</mat-step>




    <mat-step>
      <ng-template matStepLabel>Final</ng-template>
      <p>¿Esta seguro que los datos son correctos?</p>
      <div>
        <button mat-button (click)="stepper.reset()">Volver a empezar</button>
        <button mat-button mat-raised-button color="primary" (click)="registrarUsuarioBD()">Registrarse!</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>

