/*
mat-card.loginCard
{
    width: 50%;
    height: 50%;
    margin: 0 auto;
    border: 3px solid green;
    padding: 10px;
    top: 50%;
}

  mat-form-field {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
  }
  
  button {
    margin-right: 8px;
  }
  
  .btnLogin {
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .containerLogin {
    padding: 16px;
  }
  
  @media screen and (max-width: 600px) {
    button {
      margin: 2%;
      width: 96%;
    }
  }
  */

  mat-horizontal-stepper 
  {
    background: none;
    max-width: 100% !important;
  }
  mat-radio-group,form{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }