<div *ngIf="user">

    <!-- DATOS -->
    <div has-header="true">
        <div id="profile-bg"></div>
        <div id="content">
            <div id="informacion">
                <img id="imagenPerfil" src="{{user.foto}}">
                <h3 id="nombrePerfil">{{user.nombre}} {{user.apellido}}</h3>
                <span id="descripcionPerfil"> Correo: {{user.correo}} </span>
                <br>
                <span id="descripcionPerfil"> DNI: {{user.dni}} </span>
                <button mat-stroked-button color="accent">Editar datos</button>
            </div>

        </div>
    </div>

    <!-- ADMINISTRADOR -->
    <div *ngIf="user.tipo == 'administrador'">
        <h1>Panel de Control Administrador</h1>
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <button mat-button (click)="mostrarRegistroCliente()"> Registrar Cliente </button>
                <button mat-button (click)="mostrarRegistroEmpleado()"> Resgistrar Empleado</button>
                <button mat-button (click)="mostrarListadoCuentas()"> Ver Todas las Cuentas</button>
                <button mat-button (click)="mostrarPublicacionesPendientes()"> Publicaciones Pendientes</button>
                <button mat-button (click)="mostrarEstadisticas()"> Ver Estadisticas</button>
            </mat-toolbar-row>
        </mat-toolbar>

        <div *ngIf="boolRegistroCliente == true">
            <h2>Registrar nuevo Cliente</h2>
            <app-registro></app-registro>
        </div>

        <div *ngIf="boolRegistroEmpleado == true">
            <h2>Registrar nuevo Empleado</h2>
            <app-registro-empleado></app-registro-empleado>
        </div>

        <div *ngIf="booEstadisticas == true">
            <h2>Estadisticas</h2>
            <!--  -->
            <!-- <app-registro-empleado></app-registro-empleado> -->
        </div>

        <div *ngIf="boolAdministrarPublicaciones == true">
            <h2>Publicaciones Pendientes</h2>
            <app-revisar-publicaciones-pendientes></app-revisar-publicaciones-pendientes>
        </div>

        <div *ngIf="boolListadoCuentas == true">
            <h2>Listado de Cuentas</h2>
            <app-lista-de-personal [pedido]="'admin'"></app-lista-de-personal>
        </div>
    </div>

<!-- EMPLEADO -->
    <div *ngIf="user.tipo == 'empleado'">
        <h1>Panel de Control Empleado</h1>
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <button mat-button (click)="mostrarRegistroCliente()"> Registrar Cliente </button>
                <button mat-button (click)="mostrarPublicacionesPendientes()"> Publicaciones Pendientes</button>
                <button mat-button (click)="mostrarListadoCuentas()"> Ver Cuentas Clientes</button>
                <button mat-button (click)="mostrarResponderConsultas()"> Responder Consultas </button>
            </mat-toolbar-row>
        </mat-toolbar>

        <div *ngIf="boolRegistroCliente == true">
            <h2>Registrar nuevo Cliente</h2>
            <app-registro></app-registro>
        </div>

        <div *ngIf="boolAdministrarPublicaciones == true">
            <h2>Publicaciones Pendientes</h2>
            <app-revisar-publicaciones-pendientes></app-revisar-publicaciones-pendientes>
        </div>

        <div *ngIf="boolListadoCuentas == true">
            <h2>Listado de Clientes</h2>
            <app-lista-de-personal [pedido]="'empleado'"></app-lista-de-personal>
        </div>

        <div *ngIf="boolResponderConsultas == true">
            <h2>Consultas Pendientes</h2>
            <app-responder-consultas></app-responder-consultas>
        </div>
    </div>

    <!-- CLIENTE Y ST -->
    <div *ngIf="user.tipo == 'cliente' || user.tipo == 'st'">
        <h1>Panel de Control Empleado</h1>
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <button mat-button (click)="mostrarServicio()"> Mis Reparaciones </button>
                <button mat-button (click)="mostrarPublicaciones()"> Mis Publicaciones</button>
                <button mat-button (click)="mostrarResenias()"> Mis Reseñas</button>
                <!-- vamos a hacer que tenga un chat con algun empelaod al final por lo
                que dijo el profe de que el cliente tendri que tener mas acceso directo, ya qie el
                anonimo tiene las consultas? -->
                <!-- <button mat-button (click)="mostrarConsultas()"> Consultas </button> -->
            </mat-toolbar-row>
        </mat-toolbar>

        <div *ngIf="boolServicio == true">
            <h2>Informacion sobre mis Reparaciones</h2>
            <!-- <app-registro></app-registro> -->
        </div>

        <div *ngIf="boolPubliciones == true">
            <h2>Mis Publicaciones</h2>
            <!-- <app-revisar-publicaciones-pendientes></app-revisar-publicaciones-pendientes> -->
        </div>

        <div *ngIf="boolResenias == true">
            <h2>Mis Reseñas Pasadas</h2>
            <!-- <app-lista-de-personal></app-lista-de-personal> -->
        </div>

        <!-- <div *ngIf="boolConsultas == true">
            <h2>Mis Consultas</h2>

        </div> -->
    </div>
    <!-- el boton para sublir publicaciones lo movi a la pag de tienda -s-->
</div>