
<!--

                <mat-icon *ngIf="consultaForm.controls.nombreValidado.invalid">check_box_outline_blank</mat-icon>
                <mat-icon *ngIf="!consultaForm.controls.nombreValidado.invalid">check_box</mat-icon>
-->

<div id="page">


    <div class="field-left">

    </div>

    <div class="field-right">

        <div class = "miniPageRight">
            Numero de factura:
            <br>
            FECHA : {{reparacionJSON.fecha}}
        </div>

    </div>



        
    <form [formGroup]="consultaForm" id="contact-form">


        <h2 class="divider gradient"> FACTURA </h2>




        <div style="text-align: center;" class="form-title">DNI Cliente <span style="color: grey;"> (De no encontrarse en la base de datos, se deberá crear una cuenta)</span></div>
        <mat-icon *ngIf="consultaForm.controls.DNIValidado.invalid">check_box_outline_blank</mat-icon>
        <mat-icon *ngIf="!consultaForm.controls.DNIValidado.invalid">check_box</mat-icon>
        

        <input *ngIf="DNIExiste == false" type="text" [(ngModel)]="reparacionJSON.DNI" placeholder="Ingrese su DNI"
        formControlName="DNIValidado" class="form-field form-message">


        <input *ngIf="DNIExiste == true"type="text" [(ngModel)]="reparacionJSON.DNI" placeholder="Ingrese su DNI"
        formControlName="DNIValidado" class="form-field form-message" disabled>

        

        <button [disabled]="consultaForm.controls.DNIValidado.invalid" type="submit" mat-raised-button color="primary" class="buttons"
            (click)="VerificarExistenciaUsuario()">Verificar existencia</button>

            <div *ngIf="DNIExiste == true">

            <h2 class="divider gradient" > Detalles cliente </h2>
        
             <div class="field-left">

            <div class="form-title">Nombre del cliente: </div>
            <mat-icon *ngIf="consultaForm.controls.nombreValidado.invalid">check_box_outline_blank</mat-icon>
            <mat-icon *ngIf="!consultaForm.controls.nombreValidado.invalid">check_box</mat-icon>
            <input type="text" [(ngModel)]="reparacionJSON.nombre" placeholder="Ingrese su nombre"
                formControlName="nombreValidado" class="form-field">

            <div class="form-title">Apellido del cliente:</div>
            <mat-icon *ngIf="consultaForm.controls.apellidoValidado.invalid">check_box_outline_blank</mat-icon>
            <mat-icon *ngIf="!consultaForm.controls.apellidoValidado.invalid">check_box</mat-icon>
            <input type="text" [(ngModel)]="reparacionJSON.apellido" placeholder="Ingrese su apellido"
                formControlName="apellidoValidado" class="form-field">
        </div>


        <div class="field-right">

            <div class="form-title">Correo:</div>
            <mat-icon *ngIf="consultaForm.controls.correoValidado.invalid">check_box_outline_blank</mat-icon>
            <mat-icon *ngIf="!consultaForm.controls.correoValidado.invalid">check_box</mat-icon>
            <input type="email" [(ngModel)]="reparacionJSON.correo" placeholder="Email de contacto"
                formControlName="correoValidado" class="form-field">

            <div class="form-title">Telefono:</div>
            <mat-icon *ngIf="consultaForm.controls.telefonoValidado.invalid">check_box_outline_blank</mat-icon>
            <mat-icon *ngIf="!consultaForm.controls.telefonoValidado.invalid">check_box</mat-icon>
            <input type="text" [(ngModel)]="reparacionJSON.telefono" placeholder="Telefono de contacto"
                formControlName="telefonoValidado" class="form-field">

        </div>


        <h2 class="divider gradient"> Detalles equipo </h2>


        <mat-form-field appearance="fill" style="width: 100%; padding: 20px 20px 20px;">
            <mat-label>Tipo de disposito</mat-label>
            <mat-select [(value)]="reparacionJSON.tipoDispositivo">
              <mat-option>Seleccione</mat-option>
              <mat-option value="option1">Celular</mat-option>
              <mat-option value="option2">Tablet</mat-option>
              <mat-option value="option3">Otro</mat-option>
            </mat-select>
          </mat-form-field>


        <div class="field-left">
            <div class="form-title">Marca y Modelo: </div>
            <mat-icon *ngIf="consultaForm.controls.marcaYModeloValidado.invalid">check_box_outline_blank</mat-icon>
            <mat-icon *ngIf="!consultaForm.controls.marcaYModeloValidado.invalid">check_box</mat-icon>
            <input type="text" [(ngModel)]="reparacionJSON.marcaYModelo" placeholder="Ingrese marca y modelo"
                formControlName="marcaYModeloValidado" class="form-field">
        </div>

        <div class="field-right">
            <div class="form-title">Observaciones:</div>
            <mat-icon *ngIf="consultaForm.controls.observacionesValidado.invalid">check_box_outline_blank</mat-icon>
            <mat-icon *ngIf="!consultaForm.controls.observacionesValidado.invalid">check_box</mat-icon>
            <input type="text" [(ngModel)]="reparacionJSON.observaciones" placeholder="Ingrese observaciones"
                formControlName="observacionesValidado" class="form-field">
        </div>



        <div class="form-title">Trabajo a realizar:</div>
        <mat-icon *ngIf="consultaForm.controls.trabajoARealizarValidado.invalid">check_box_outline_blank</mat-icon>
        <mat-icon *ngIf="!consultaForm.controls.trabajoARealizarValidado.invalid">check_box</mat-icon>
        <textarea name="message" rows="5" [(ngModel)]="reparacionJSON.trabajoARealizar" placeholder="Ingrese trabajo a realizar"
            formControlName="trabajoARealizarValidado" class="form-field form-message"></textarea>



            <h2 class="divider gradient"> Detalles Facturacion </h2>


        <div class="field-left">
            <div class="form-title">Precio: </div>
            <mat-icon *ngIf="consultaForm.controls.precioValidado.invalid">check_box_outline_blank</mat-icon>
            <mat-icon *ngIf="!consultaForm.controls.precioValidado.invalid">check_box</mat-icon>
            <input type="text" [(ngModel)]="reparacionJSON.precio" placeholder="Precio de la reparacion"
                formControlName="precioValidado" class="form-field">
        </div>

        <div class="field-right">
            <div class="form-title">Seña:</div>
            <mat-icon *ngIf="consultaForm.controls.senaValidada.invalid">check_box_outline_blank</mat-icon>
            <mat-icon *ngIf="!consultaForm.controls.senaValidada.invalid">check_box</mat-icon>
            <input type="text" [(ngModel)]="reparacionJSON.sena" placeholder="Seña por parte del cliente"
                formControlName="senaValidada" class="form-field">
        </div>



        <div class="buttons-container">
            <button [disabled]="!consultaForm.valid" type="submit" mat-raised-button color="primary" class="buttons"
                (click)="registrarReparacionBD()">REGISTRAR REPARACIÓN</button>
        </div>

        </div>

    </form>



</div>