 <main role="main">
    <div class="controls">
      <span class="controls-message">3 messages unread</span>
    </div>
    
    <div class="notification-list">
      
      <div class="notification">
        <img
          alt="Profile picture of Eugene"
          class="notification-avatar"
          src="https://randomuser.me/api/portraits/men/5.jpg"
        >
        <div class="notification-content">
          <h1 class="notification-title">Ha comprado tu articulo! </h1>
          <p class="notification-meta">(Nombre del articulo acá)</p>
        </div>
        <time class="notification-time">

          <button aria-label="Mark all as read"> 
            <mat-icon>done_all</mat-icon>
          </button>

        </time>
      </div><!-- /.notification -->
 
      
  
     
    </div><!-- /.notification-list -->
  </main>