<div class="marcoFablet" *ngIf="!quiereRegistrarse">
    <span class="material-icons btnLogout" (click)="cerrarFormLogin()"> power_settings_new </span>
    <div class="lenteDeCamara"></div>

    <form [formGroup]="formularioLogin" id="formLogin">
        <div class="containerLogin">
            <mat-form-field appearance="fill">
                <mat-label>Correo electrónico</mat-label>
                <input matInput placeholder="Ingrese su dirección de correo" formControlName="correoValidado"
                    [(ngModel)]="correo">
                <mat-error *ngIf="formularioLogin.controls.correoValidado.invalid">{{ mostrarError('correoValidado') }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Clave</mat-label>
                <input matInput formControlName="claveValidada" [(ngModel)]="clave"
                    [type]="getOcultaClave() ? 'password' : 'text'">
                <mat-error *ngIf="formularioLogin.controls.claveValidada.invalid">{{mostrarError('claveValidada') }}
                </mat-error>
            </mat-form-field>

            <button [disabled]="!formularioLogin.valid" type="submit" mat-raised-button color="primary" class="btnLogin"
                (click)="onSubmitLogin()">Ingresar</button>
            <button type="submit" mat-raised-button color="primary" class="btnLogin"
                (click)="quiereRegistrarse = true">Registrarse</button>

            <!-- <mat-form-field appearance="fill">
                <mat-label>Cuentas guardadas</mat-label>
                <mat-select [(value)]="cuenta">
                    <option value="admin">Administrador</option>
                    <option value="emple">Empleado1</option>
                    <option value="clie1">Cliente1</option>
                    <option value="st">ST</option>
                </select>
            </mat-form-field> -->

            <mat-form-field appearance="fill">
                <mat-label>Cuentas Guardadas</mat-label>
                <mat-select [(value)]="cuenta">
                    <mat-option>None</mat-option>
                    <mat-option value="admin">Administrador</mat-option>
                    <mat-option value="emple">Empleado1</mat-option>
                    <mat-option value="clie1">Cliente1</mat-option>
                    <mat-option value="st">ST</mat-option>
                </mat-select>
            </mat-form-field>

        </div>
    </form>




</div>



<div class="marcoFablet" *ngIf="quiereRegistrarse">
    <span class="material-icons btnLogout" (click)="cerrarFormLogin()"> power_settings_new </span>
    <div class="lenteDeCamara"></div>

    <app-registro style="z-index: 12; text-align: center;"> </app-registro>
</div>