<div class="marcoFablet" *ngIf="!quiereRegistrarse">
    <span class="material-icons btnLogout" (click)="cerrarFormLogin()"> power_settings_new </span>
    <div class="lenteDeCamara"></div>

    <form [formGroup]="formularioLogin" id="formLogin">
        <div class="containerLogin">
            <mat-form-field appearance="fill">
                <mat-label>Correo electrónico</mat-label>
                <input matInput placeholder="Ingrese su dirección de correo" formControlName="correoValidado"
                    [(ngModel)]="correo">
                <mat-error *ngIf="formularioLogin.controls.correoValidado.invalid">{{ mostrarError('correoValidado') }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Clave</mat-label>
                <input matInput formControlName="claveValidada" [(ngModel)]="clave"
                    [type]="getOcultaClave() ? 'password' : 'text'">
                <mat-error *ngIf="formularioLogin.controls.claveValidada.invalid">{{mostrarError('claveValidada') }}
                </mat-error>
            </mat-form-field>

            <button [disabled]="!formularioLogin.valid" type="submit" mat-raised-button color="primary" class="btnLogin"
                (click)="onSubmitLogin()">Ingresar</button>
            <button type="submit" mat-raised-button color="primary" class="btnLogin"
                (click)="quiereRegistrarse = true">Registrarse</button>


        </div>
    </form>
    <div class="contenedorBotonesAutoLogin">
        <span class="material-icons btnAutoLogin" (click)="cargarDatosAutoLogin('administrador')">
            admin_panel_settings
        </span>
        <span class="material-icons  btnAutoLogin" (click)="cargarDatosAutoLogin('empleado')">
            supervised_user_circle
        </span>
        <span class="material-icons btnAutoLogin" (click)="cargarDatosAutoLogin('cliente')">
            admin_panel_settings
        </span>
        <span class="material-icons btnAutoLogin" (click)="cargarDatosAutoLogin('st')">
            admin_panel_settings
        </span>
    </div>
</div>



<div class="marcoFablet" *ngIf="quiereRegistrarse" style="overflow-x: hidden;">
    <span class="material-icons btnLogout" (click)="cerrarFormLogin()"> power_settings_new </span>
    <div class="lenteDeCamara"></div>


    <app-registro style="z-index: 12; text-align: center;  max-width: 95%; "> </app-registro>


</div>