mat-card.loginCard
{
    width: 50%;
    height: 50%;
    margin: 0 auto;
    border: 3px solid green;
    padding: 10px;
    top: 50%;
}

  mat-form-field {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
  }
  

  .btnLogin {
    cursor: pointer;
    width: 100%;
    bottom: 0;
  }
  
  button:hover {
    opacity: 0.8;
  }
  

  #formLogin{
    border:none;
    max-width: 80%;
    z-index: 10;
  }

.btnLogout{
  position: absolute;
  z-index: 10;
  right: 3vw;
  top: 4vh;
}
.btnLogout:active{
  color: var(--colorPrincipal);
}
  /*  INICIO LOGIN TABLET  */.marcoFablet {
  transition: 2s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 80%;
  height: 60%;
  border-radius: 30px;
  background: rgb(61, 61, 61);
  z-index: 1;
  left: 10%;
  top: 20%;
}
.marcoFablet::after {
  transform: translate(0, 1%);
  content: "";
  position: absolute;
  width: 95%;
  height: 90%;
  border-radius: 5px;
  background: rgba(248, 248, 248, 0.863);
  z-index: 2;
}

.lenteDeCamara {
  border: 1px solid dimgrey;
  transform: translate(0, -28vh);
  position: absolute;
  width: 2.5vw;
  height: 2.5vw;
  min-width: 12px;
  min-height: 12px;
  max-width: 18px;
  max-height: 18px;
  border-radius: 100%;
  box-shadow: inset 0 0 5px black;
  background: rgb(83, 83, 83);
  z-index: 3;
}
.lenteDeCamara::before {
  transform: scale(0.3);
  position: absolute;
  content: "";
  width: 2.5vw;
  height: 2.5vw;
  min-width: 12px;
  min-height: 12px;
  max-width: 18px;
  max-height: 18px;
  border-radius: 100%;
  background: black;
  z-index: 3;
}
@media (max-width:600px)
{  
  .marcoFablet{
    border-radius: 15px;
  }
 
  .marcoFablet::before{
    transform: translate(0,-25.1vh);
    position: absolute;
    content: "";
    width: 40vw;
    height: 3vh;
    z-index: 110 !important;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: rgb(61, 61, 61);
    z-index: 1;
  } 
}

@media (min-width:1000px)
{  
  
.btnLogout{
  transform: scale(1.25);
}
  .marcoFablet{
    width: 60%;
    left: 20%;
  }
}

/* FIN LOGIN TABLET*/