* {
  margin: 0;
  padding: 0;
}
.divBotones{
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}
.divBotones button{
  padding: 2px 20px 2px 20px;
}
.divContenedor{
  height: 100vh;
}
.divPublicacionObjetivo {
  text-align: center;
  margin: 20px;
}
.divPublicacionObjetivo p {
  font-size: 24px;
  font-weight: 600;
}
.divPublicacionObjetivo img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  
}
.divPublicacionObjetivo p:last-child {
  font-size: 16px;
  font-weight: 600;
}
img {
  max-width: 50px;
  max-height: 50px;
  width: auto;
  height: auto;
  border-radius: 10px;
  border: 2px solid var(--colorPrincipal);
  margin: 0 5px 0 5px;
}

.divContainerDragAndDrop {
  margin: 20px 0 20px 0;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
.example-container {
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
h2 {
  transition: 2s;
}

@media (max-width: 600px) {
  h2 {
    font-size: 90%;
  }
  .example-box {
    flex-direction: column;
  }
}
