<div class="divContenedor" id="divContenedor">
    <div>
        <div class="divPublicacionObjetivo">
            <p> {{publicacionObjetivo.titulo}}</p>
            <div>
                <img *ngFor="let foto of publicacionObjetivo.fotos" src="{{foto}}">
            </div>
            <p>{{publicacionObjetivo.precio|currency}}</p>
        </div>
        <div style="text-align: center;" *ngIf="valorAcumulado!=publicacionObjetivo.precio && valorAcumulado>publicacionObjetivo.precio">
            <p style=" font-size: 18px;"> Te queda <b style="color: green;">{{(publicacionObjetivo.precio-valorAcumulado)*-1 |currency}}</b> a favor.
            </p>
            <label style="color:red">Pero, puede que <b>el vendedor no tenga
                    dinero para ofrecerte.</b></label>
        </div>
        <div style="text-align: center;" *ngIf="valorAcumulado==publicacionObjetivo.precio">
            <p style=" font-size: 18px;"><b style="color: green;"> OFERTA IDEAL!</b> </p>
        </div>
        <div *ngIf="valorAcumulado!=publicacionObjetivo.precio && valorAcumulado<publicacionObjetivo.precio && listaOferta.length>0">
            <p style="text-align: center; font-size: 18px;"> Tendrias que abonar
                <b style="color: red;">{{publicacionObjetivo.precio - valorAcumulado|currency}}</b> en efectivo.
            </p>
        </div>
        <!-- <h1 style="text-align: center;"> {{valorAcumulado|currency}}</h1> -->

    </div>
    <div class="divContainerDragAndDrop">
        <div class="example-container">
            <h2>Mis publicaciones</h2>

            <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="myListaDePublicaciones"
                [cdkDropListConnectedTo]="[doneList]" class="example-list" (cdkDropListDropped)="drop($event)">
                <div *ngFor="let publicacion of myListaDePublicaciones">
                    <div class="example-box" cdkDrag>
                        <div class="title">
                            {{publicacion.titulo}}
                        </div>
                        <div class="title" style="color:darkslateblue">
                            &nbsp;(${{publicacion.precio}})
                        </div>
                        <div class="imagenes">
                            <img *ngFor="let foto of publicacion.fotos" class="imgMensaje" src="{{foto}}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="example-container">
            <h2>Productos a ofrecer</h2>
            <div style="border: 3px solid red;" cdkDropList #doneList="cdkDropList" [cdkDropListData]="listaOferta"
                [cdkDropListConnectedTo]="[todoList]" class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let publicacion of listaOferta" cdkDrag>
                    <div class="title">
                        {{publicacion.titulo}}
                    </div>
                    <div class="title" style="color:darkslateblue">
                        &nbsp;(${{publicacion.precio}})
                    </div>
                    <div class="imagenes">
                        <img *ngFor="let foto of publicacion.fotos" src="{{foto}}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="divBotones">
        <button mat-raised-button color="secondary" (click)="enviarEvento('cancelar')">Cancelar</button>
        <button mat-raised-button color="primary" (click)="enviarEvento('enviarOferta')" [disabled]='listaOferta.length<=0'>Enviar Oferta</button>

    </div>
</div>

<!-- <div style="text-align: center;">
    <h1>producto objetivo</h1>
    <div class="example-list">
        <h1 style="text-align: center;">
            {{publicacionObjetivo.titulo}}
        </h1>
        <img *ngFor="let foto of publicacionObjetivo.fotos" style="max-width: 200px; max-height: 200px;" src="{{foto}}"
            alt="">
    </div>
</div> -->