<div style="display:  flex; justify-content: space-evenly; text-align: center; overflow: scroll; flex-wrap: wrap;">
    <div *ngFor="let oferta of listaDeOfertas" style="margin: 5px;">

        <mat-card *ngIf="oferta.estadoOferta=='pendiente'">
            <mat-card-header>
                <mat-card-subtitle>Este usuario te ofrece</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <div *ngFor="let producto of oferta.listaDeProductos">
                    <div>
                        <h5>{{producto.titulo}}</h5>
                    </div>
                    <h3 style="color: green;">+</h3>
                </div>
                <p><b>{{oferta.efectivo|currency}}</b> a tu favor!</p>
            </mat-card-content>

            <mat-card-actions>
                <button mat-button color="primary">Aceptar</button>
                <button mat-button>Rechazar</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>