<div class="divContainer" *ngFor="let oferta of misPermutasOfrecidas">
    <div class="divSeparador">
        <h2>OFRECISTE </h2>
        <p style="color: lightcoral;">pagar {{oferta.ofertaAceptada.efectivo|currency}} en efectivo.</p>
        <div *ngFor="let producto of oferta.ofertaAceptada.listaDeProductos">
            <h5 style="color: green;">+</h5>
            <p>tu "<b style="cursor: pointer;" (click)="expandirVista(producto)">{{producto.titulo}}</b>" publicado</p>
        </div>
    </div>
    <div class="divSeparador ">
        <h2>POR </h2>
        <p>
            <span style="font-size: 300%;" class="material-icons mostrar">
                east
            </span>
            <span style="font-size: 300%;" class="material-icons ocultar">
                south
            </span>
        </p>
    </div>
    <div class="divSeparador" style="cursor: pointer;" (click)="expandirVista(oferta.publicacionOfertada)">
        <h2>{{oferta.publicacionOfertada.titulo}}</h2>
        <div class="divImagenes">
            <img *ngFor="let foto of oferta.publicacionOfertada.fotos" src="{{foto}}">
        </div>
        <h4 style="margin: 5px;">de</h4>
        <h2 style="color: green;">{{oferta.publicacionOfertada.precio|currency}}</h2>
    </div>
    <div style="float: right; bottom: 0;">
        <button (click)="openDialog(oferta)">
            <span class="material-icons">
                forward_to_inbox
            </span>
        </button>
    </div>
</div>