<div class="home-page">
    <div class="block">
        <h2>Somos Multitask, llegamos para cambiarte la vida. </h2>
        <p style="opacity: 70%;"> Te ayudamos a mantenerte más cerca de tus seres queridos, te ayudamos a optimizar tu
            tiempo, a mantenerte actualizado con la ultima noticia, a divertirte jugando o mirando nuestras series
            favoritas.</p>
        <h4>¿Como?</h4>
        <p> Facil, somos una empresa cercana a vos que te ayuda a que consigas ese telefono
            confiable y funcional para ayudarte con todas esas cosas!
            Somos de aca y sabemos ponernos en tu lugar, por eso tenemos servicios que se ajustan a la necesidad de cada
            uno. <br>
            <!-- lo tengo que cambiar a la tablet -->
            <a (click)="enviarEventoDeIngreso()" class="button">¡Registrate y conocenos!</a></p>
    </div>
    <div class="block">
        <img
            src="https://previews.123rf.com/images/arkadivna/arkadivna1701/arkadivna170100035/70379908-sketch-different-phones-smartphones-vector-illustration-in-a-sketch-style-.jpg">
    </div>
</div>