<div class="container">
    <h3 class="spanTitle primary-text-color ">
        Los celulares llegaron para cambiarnos la vida.
    </h3>
    <span class="spanBold secondary-text-color"> Mantenernos más cerca de nuestros seres queridos, ayudarnos a optimizar nuestro
        tiempo
        resolviendo trámites desde casa, informarnos, divertirnos jugando, mensajeando o mirando nuestras series
        favoritas.
    </span>
    <span style="opacity: 70%;">
        Para todo esto, necesitamos un telefono confiable y funcional las 24/7 y una empresa cercana que
        responda
        cuando la
        necesitamos. Somos de aquí y sabemos ponernos en tu lugar, por eso tenemos servicios que se ajustan a la
        necesidad de cada cliente.
        Conocenos…
    </span>
</div>