<!-- <div *ngIf="apiLoaded | async">
    <google-map id="map-canvas" [options]="options" [zoom]='15' [center]="position">
        <map-marker [position]="position" [label]="label"></map-marker>
    </google-map>
</div> -->
<iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13120.54836712949!2d-58.425136!3d-34.701722!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x451fc62bb31a6590!2sMultitask!5e0!3m2!1ses!2sar!4v1620699481621!5m2!1ses!2sar"
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>