<mat-toolbar id="topToolbar" class="default-primary-color">
    <span class="reflejo-text">
        <mat-icon><img id="imgLogo" src="../../../assets/images/pc5e5enyi.png" alt="logo-Multitask"></mat-icon>
        Multitask
    </span>
    
    <div id="divHamburgerMenuContent" >
        <span class="material-icons" id="btnHamburgerMenu" *ngIf="mostrarHamburger" (click)="SendEventClickJHamburgerMenu()"> menu </span>
        <span class="material-icons" id="iconIniciarSesion" *ngIf="!mostrarHamburger"> login </span>
    </div>
    <div id="divButtonsContent">
        <a mat-button href="#">Inicio</a>
        <a mat-button href="#">Servicios</a>
        <!-- <button mat-button> <mat-icon>account_circle</mat-icon> Acerca</button> -->
        <a mat-button href="#">Acerca de nosotros?</a>
        <a mat-button routerLink='/upload-image'>Contacto</a>
        <a mat-raised-button id="btnIniciarSesion" class="accent-color" routerLink="/testeo" *ngIf="userIsLogged" >Ir a la tienda</a>
        <!-- <button mat-button> <mat-icon>lock_open</mat-icon> Ingresar</button> -->
        <!-- <button mat-button > <mat-icon>list</mat-icon> Servicios </button> -->
        <a mat-raised-button id="btnIniciarSesion" routerLink="/registro" class="accent-color"  *ngIf="!userIsLogged" >Registrarse</a>
        <a mat-raised-button id="btnIniciarSesion" class="accent-color"  *ngIf="!userIsLogged" (click)="enviarEventoDeIngreso()">Ingresar</a>
    </div>
</mat-toolbar>