<mat-toolbar id="topToolbar" class="default-primary-color">
    <span class="reflejo-text">
        <mat-icon><img id="imgLogo" src="../../../assets/images/pc5e5enyi.png" alt="logo-Multitask"></mat-icon>
        Multitask
    </span>

    <div id="divHamburgerMenuContent">
        <span class="material-icons" id="btnHamburgerMenu" *ngIf="mostrarHamburger"
            (click)="SendEventClickJHamburgerMenu()"> menu </span>
        <span class="material-icons" id="iconIniciarSesion" *ngIf="!mostrarHamburger"> login </span>
    </div>
    <div id="divButtonsContent">
        <a mat-button routerLink="/home">Inicio</a>
        <a mat-button href="#appServicios" class="btnRedireccionar"
            (click)="scrollToElement($event,'#appServicios')">Servicios</a>
        <a mat-button href="#appHistoryWrapper" class="btnRedireccionar"
            (click)="scrollToElement($event,'#appHistoryWrapper')"> Acerca de nosotros</a>
        <a mat-button href='#appConsultaAnonima' class="btnRedireccionar"
            (click)="scrollToElement($event,'#appConsultaAnonima')">Contacto</a>

        <a mat-raised-button id="btnIniciarSesion" class="accent-color" *ngIf="!userIsLogged"
            (click)="enviarEventoDeIngreso()">Ingresar</a>

        <a mat-raised-button id="btnIniciarSesion" class="accent-color" routerLink="/testeo" *ngIf="userIsLogged">Ir a
            la tienda</a>
        <!-- todo hacer responsove foto -->
        <a mat-button href="usuario" *ngIf="userIsLogged"><img src="{{user.foto}}" style="width: 40px;"> {{user.nombre}}</a>
        <svg *ngIf="userIsLogged" class="bi bi-power" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg" (click)="logOff()">
            <path fill-rule="evenodd" d="M5.578 4.437a5 5 0 1 0 4.922.044l.5-.866a6 6 0 1 1-5.908-.053l.486.875z" />
            <path fill-rule="evenodd" d="M7.5 8V1h1v7h-1z" />
        </svg>
    </div>
</mat-toolbar>