.cardsHorizontales {
    padding: 30px 0 40px;
    margin-bottom: 30px;
    background-color: #ab6efb;
    background-color: #f1ecf7;
    text-align: center;
    overflow: hidden;
    position: relative;
  }
  .cardsHorizontales .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
  }
  
  .cardsHorizontales .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #6b13b3;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
  }
  
  .cardsHorizontales:hover .picture::before {
    height: 100%;
  }
  
  .cardsHorizontales .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #6b13b3;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .cardsHorizontales .picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
  }
  
  .cardsHorizontales:hover .picture img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
  }
  
  .cardsHorizontales .title {
    display: block;
    font-size: 15px;
    color: #4e5052;
  }
  
  .cardsHorizontales .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #6b13b3;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
  }
  