<div *ngFor="let persona of listado">
     
    <div class="cardsHorizontales">
        <div class="picture">
            <img class="img-fluid" [src]="persona.foto" style="background-image: url(persona.foto)">
        </div>
        <div>
            <h3 class="name">Nombre: {{persona.nombre}} {{persona.apellido}}</h3>
            <h4 class="title">Tipo: {{persona.tipo}}</h4>
            <h4 class="title">Correo: {{persona.correo}}</h4>
            <h4 class="title">DNI: {{persona.DNI}}</h4>
            <button mat-raised-button color="primary" (click)="editarUsuario(persona)">Editar cuenta</button>
            <button mat-raised-button color="warn" (click)="borrarUsuario(persona)">Borrar
                cuenta</button>
        </div>
    </div>

</div>

